<div
  data-controller="maps"
  data-action="map-loaded@window->maps#initGoogle"
  >
  <label for="search">Address</label>
  <input type="text" id="search", autocomplete="off">
    Address
  </input>
</div>
