// @import 'tailwind';
.main-task-heading {
    display: table;
    margin: auto;
    font-weight: 800;
}
main{
    margin-top: 40px;
}
.task-form{
    display: table;
    margin: auto;

}
.tasks {
    display: table;
    margin: auto;
}

#map {
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    width: 530px;
    display: table;
    margin: auto;
}

.form-control {
    &.search-places {
        border-radius: 12px;
        display: table;
        margin: auto;
        width: 400px;
    }
}
// turbo-frame {
//     border: 1px solid lightblue;
//     border-radius: 5px;
//     padding: 0.1em 1em;
//     margin: 1em 0;
//   }